#primary, .comment-body
    padding 10px 0 30px 0
    color #797979
    blockquote
        color #797979
        padding 50px 35px
        position relative
        &::before
            content '\f10d'
            position absolute
            font-size 2.5rem
            color #69d2e7
            top 0
            left 0 
            font-family FontAwesome
        &::after
            content '\f10e'
            position absolute
            font-size 2.5rem
            color #69d2e7
            bottom 0
            right 0
            font-family FontAwesome
        p  
            padding 2px 0
    p  
        margin-top 16px
        line-height 30px
        color #797979
        code 
            background-color rgba(254,250,199,1)
            color #e67474
            text-shadow none
            border-radius 5px
            font-size 16px
            padding 5px
            display inline
            &::after
                content: ''
            &::before
                content ''
    h1 
        color #404040
        display block
        font-size 32px
        font-weight bold
        margin-block-start 10px
        margin-block-end 10px
        margin-inline-start 0px
        margin-inline-end 0px
    h2
        color #404040
        display block
        font-size 24px
        font-weight bold
        margin-block-start 10px
        margin-block-end 10px
        margin-inline-start 0px
        margin-inline-end 0px
    h3 
        color #404040
        display block
        font-size 16px
        font-weight bold
        margin-block-start 10px
        margin-block-end 10px
        margin-inline-start 0px
        margin-inline-end 0px
    ul  
        display block
        margin-block-start 16px
        margin-block-end 16px
        margin-inline-start 0px
        margin-inline-end 0px
        padding-inline-start 40px
        li 
            list-style-type circle
        code  
            font-size 16px
            display inline
            padding 5px
            text-shadow none
            border-radius 5px
            &::after
                content ''
            &::before
                content ''
    ol  
        display block
        margin-block-start 16px
        margin-block-end 16px
        margin-inline-start 0px
        margin-inline-end 0px
        padding-inline-start 40px
        li 
            list-style-type decimal
        code  
            font-size 16px
            display inline
            padding 5px
            text-shadow none
            border-radius 5px
            &::after
                content ''
            &::before
                content ''
    a 
        color #e67474;
        text-decoration underline dotted rgba(0,0,0,.1)
        transition color .2s
        &:hover
            color #FE9600
            text-decoration underline orange
    strong, b
        font-weight 600
        color #404040
        em
            font-weight 600 
            font-style italic
    i, cite, em, var, address, dfn
        font-style italic
    pre 
        margin-top: 30px 
        width 100%
        position relative
        box-shadow: 0 10px 30px 0px rgba(0,0,0,.4)
        .copy-code
            color: #fff
            position: absolute
            float: right
            right: 10px
            top: 0
            margin-top: -18px 
            z-index: 2
            font-size: 16px
        code  
            background-color #1d1f21
            color #FFFFFF
            padding 8px 5px
            font-size 15px
            word-break break-word
            font-weight normal
            &::after
                content ''
            &::before
                color #fff
                content attr(data-lang)
                height 30px
                line-height 30px
                background #21252b
                font-size 16px
                position absolute
                margin-top -30px
                left 0
                width 100%
                font-family Ubuntu,sans-serif
                font-weight 700
                padding 0 80px
                text-indent 15px
                text-align center
                float left
                z-index 1
                border-radius 5px 5px 0 0
                border-top-left-radius 5px
                border-top-right-radius 5px
                border-bottom-right-radius 0
                border-bottom-left-radius 0
                pointer-events none
            table
                margin 5px 0 0 0
                padding 0
            .hljs-ln-numbers
                user-select none
                text-align center
                color #888f96
                background #1d1f21
                font-family 'Merriweather Sans', 'Source Code Pro', 'Ubuntu', 'Noto Serif SC', 'Noto Serif', 'PT Serif', Microsoft YaHei, monospace, sans-serif, serif
                vertical-align top
                left 0
                width 30px
            .hljs-ln-code
                text-align inherit
                padding-left 5px
                color #FFFFFF
                font-family sans-serif
                font-size 16px
                &:hover
                    background-color:rgba(255,255,255,.1)
                .hljs-doctag, .hljs-formula, .hljs-keyword
                    color: #c678dd
                .hljs-comment, .hljs-quote
                    color #888f96
                    font-style italic
                .hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string
                    color #98c379
                .hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst
                    color #e06c75
                .hljs-literal
                    color #56b6c2
                .hljs-built_in, .hljs-class .hljs-title
                    color #e6c07b
                .hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable
                    color #d19a66
                .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title
                    color #61aeee
                .hljs-emphasis
                    font-style italic
                .hljs-strong
                    font-weight 700
                .hljs-link
                    text-decoration underline
    del 
        margin-bottom 16px
    hr 
        margin 24px 0
        border 0
        height 1px
        border-top 1px solid #CCCCCC
    table
        margin 0 0 24px
        width 100%
        border-collapse collapse
        border-spacing 0
        th,td
            color #404040
            text-align right
            display table-cell
            vertical-align inherit
        th 
            font-weight 600 